---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "关于我";
const identity = {
  firstName: "莎拉",
  country: "加拿大",
  occupation: "技术撰稿人",
  hobbies: ["摄影", "观鸟", "棒球"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = 700;
const textCase = "uppercase";
---

<Layout title={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
    <Header />
    <p>以下是关于我的几个事实：</p>
    <ul>
      <li>我的名字是{identity.firstName}.</li>
      <li>我住在{identity.country}。我的职业是{identity.occupation}。</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            我的两个习惯：{identity.hobbies[0]}和{identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>我的技能是：</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    {happy && <p>我非常乐意学习 Astro！</p>}

    {finished && <p>我完成了这节教程！</p>}

    {goal === 3 ? <p>我的目标是在三天内完成。</p> : <p>我的目标不是 3 天。</p>}
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </main>
</Layout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: var(fontWeight);
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    text-transform: var(textCase);
    color: var(skillColor);
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
